.row {
  &--t-padding {
    padding-top: 80px;
  }





  @mixin atMedium {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &--gutters {
      column-gap: 5.3%;
    }

    &--gutters-small {
      column-gap: 8%;
    }

    &--gutters-large {
      column-gap: 3.6%;
    }

    &__medium-4 {
      grid-column: span 4;
    }

    &__medium-6 {
      grid-column: span 6;
    }

    &__medium-8 {
      grid-column: span 8;
    }
  }

  @mixin atLarge {

    &__large-4 {
      grid-column: span 4;
    }

    &__large-6 {
      grid-column: span 6;
    }

    &__large-8 {
      grid-column: span 8;
    }
  }

  /* Begin Equal Height Rules */
  &--equal-height-at-medium {
    @mixin atMedium {
      & > div {
        display: flex;
      }
    }
  }
}
